# LaTeX
*.acn
*.acr
*.alg
*.aux
*.bak
*.bbl
*.bcf
*.blg
*.brf
*.bst
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.loc
*.lof
*.log
*.lol
*.lot
*.maf
*.mtc
*.mtc1
*.nav
*.nlo
*.nls
*.out
*.pdf
*.run.xml
*.snm
*.synctex.gz
*.tex.backup
*.tex~
*.thm
*.toc
*.vrb
*.xdy
*.xml
*blx.bib
.bak 
.mtc
build/
local-macros.def

# Don't want to remove all PDFs that are figures, so use targeted removal of PDFs.
!chapters/**/figs/*.pdf

# Remove all generated assets from latex_to_html_converter.py
website/html/chapters
website/html/bib.html
website/html/Ch[0-9]*.html
website/html/A[0-9]*.html
website/html/Chx[0-9]*.html
website/html/LaTeXML.cache
website/html/search-index.json
website/html/zh/chapters
website/html/zh/bib.html
website/html/zh/Ch[0-9]*.html
website/html/zh/A[0-9]*.html
website/html/zh/Chx[0-9]*.html
website/html/zh/LaTeXML.cache
website/html/zh/search-index.json

# Python
.python-version
.venv/
uv.lock

# VsCode 
.vscode

.DS_Store
